/*  your css code here. If applicable */
.header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:2px;	
	
}
body{
	background-color:#f5f5f5
}

.latest-news-section{
	background-color:white;
	padding:2px;
	width:25%;
	border-radius:20px;
	text-align:center;
	font-size:0.8rem;
	height:25%;
}
.main-article{
	background-color:white;
	border-radius:20px;
	width:40%;
	height:50vh;
	font-size:0.5;
	
}
.pictorial-news-section{
	align-items:center;
	background-color:white;
	border-radius:20px;
    width:25%;
 
}
#img{
   width:90%;
	align-items:center;
}
.body2{
	display:flex;
}
