body{
	background-color: #f5f5f5;

}
.header{
	background-color:#011e29;
	padding:2px;
	color:white;
	text-align:center;
}
.container{
	display:flex;
	align-items: flex-start;
	
}
.latest-news-section{
	padding:1px;
	flex: 0.8;
	
}
.main-article{
	padding:1px;
	flex: 1;
	height:auto;

	text-align:center;
	
}
.latest-news-section h3{
	text-align:center;
}


.pictorial-news-section{
  background-color:white;
	text-align:center;
	  width: 100%; 
	
  padding: 10px;
  flex: 0.8;
  display: flex;
  flex-direction: column;   /* images vertical */
  align-items: center;      /* horizontal center */
  gap: 15px;
	 
	
}
.pictorial-news-section img{
	width:90%;
	
}
#col{
	background-color:white;
	border-radius:20px;
	margin:2px;
	
}